* {
    box-sizing: border-box;
    margin: 0pt;
}

/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
}

#navbar a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

button {
    background-color: #1e222d;
    border: 2pt #2e323d solid;
    padding: 4pt;
    border-radius: 4pt;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #0e121d;
    }
}

button.hidden-button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}


input {
    background-color:#2e323d;
    border: 2pt  #3e423d solid;
    padding: 4pt;
    border-radius: 4pt;
    color: white;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4pt;

    &>:is(h1, h2, h3, h4) {
        padding-top: 8pt;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: end;

        &::after {
            content: "";
            display: flex;
            width: 100%;
            background-color: #3e423d;
            height: 4pt;
            border-radius: 4pt;
            margin-left: 4pt;
        }
    }
}

.device-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300pt, 1fr));
    gap: 8pt;

    .device-list-entry {
        display: flex;
        flex-direction: column;
        gap: 4pt;
        background-color: #1e222d;
        border-radius: 8pt;
        padding: 4pt;

        overflow: hidden;

        .endpoint-list {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 8pt;

            .endpoint {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                background-color: #0f1116;
                border-radius: 4pt;
                padding: 4pt;
                gap: 4pt;

                .endpoint-header {
                    display: flex;
                    flex-direction: row;
                    gap: 4pt;

                    span {
                        background-color: #1e222d;
                        border-radius: 0pt;
                        height: 100%;
                        padding: 2pt;
                    }

                    .endpoint-label {
                        background-color: rgb(35, 255, 141);
                        color: black;
                        font-weight: bolder;
                    }
                }
            }
        }

        .dialog-button {
            width: 100%;
            h2 {
                text-align: start;
            }
        }

        .device-list-entry-status-text, .device-list-entry-quickoptions {
            height: 42pt;
            display: flex;
        }

        .device-list-entry-status-text {
            align-items: center;
            justify-content: center;
        }

        .device-list-entry-quickoptions {
            flex-direction: column;

            &>* {
                width: 42pt;
                height: 42pt;
            }
        }
    }
}

.device-card {
    background-color: #1e222d;
    padding: 8pt;
    border-radius: 8pt;
}

.endpoint-list {
    display: flex;
    flex-direction: column;
}

.device-type-list {
    display: flex;
    gap: 4pt;
}

span.device-type {
    padding: 4pt;
    border-radius: 4pt;
    background-color: #0f1116;
}

.cluster-not-implemented {
    color: rgb(107, 101, 130);
}

.device-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d0d0d;
    padding: 8pt;
    border-radius: 16pt;
    gap: 8pt;
}

.maybe-disabled-controls {
    display: flex;
    flex-direction: inherit;
    gap: inherit;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    transition: opacity 200ms;
}

input[type="range"].brightness-slider {
    width: 100%;
    height: 42pt;
    background: transparent;
    overflow: hidden;
    border-radius: 6pt;

    &::-moz-range-thumb {
        background-color: transparent;
        height: 100%;
        width: 0pt;
        visibility: hidden;
    }

    &::-moz-range-track {
        background-color: #464646;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 6pt;
    }

    &::-moz-range-progress {
        background-color: #f9ebd2;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 6pt;
    }
}

.color-block {
    height: 32pt;
    width: 32pt;
    align-self: first baseline;
    border-radius: 6pt;

    &.is-off {
        background-color: #1c1c1c !important;
        border: 2pt solid #c2c2c2;
    }
}

input[type="range"].hue-slider {
    width: 100%;
    height: 12pt;
    background: linear-gradient(
        to right in hsl longer hue,
        hsl(0, 100%, 50%),
        hsl(359, 100%, 50%)
    );
    overflow: hidden;
    border-radius: 6pt;
    padding: 4pt;

    &::-moz-range-thumb {
        background-color: black;
        height: 4pt;
        width: 4pt;
        border: none;
        /* border: 2pt solid white; */
        /* border: none; */
        border-radius: 2pt;
    }
}

input[type="range"].saturation-slider {
    width: 100%;
    height: 12pt;
    background: linear-gradient(
        to right in hsl longer hue,
        hsl(0, 0%, 100%),
        hsl(359, 100%, 50%)
    );
    overflow: hidden;
    border-radius: 6pt;
    padding: 4pt;

    &::-moz-range-thumb {
        background-color: black;
        height: 4pt;
        width: 4pt;
        border: none;
        /* border: 2pt solid white; */
        /* border: none; */
        border-radius: 2pt;
    }
}

input[type="range"].temperature-slider {
    width: 100%;
    height: 12pt;
    /* background: linear-gradient(to right in hsl longer hue, hsl(0, 0%, 100%), hsl(359, 100%, 50%)); */
    overflow: hidden;
    border-radius: 6pt;
    padding: 4pt;

    &::-moz-range-thumb {
        background-color: black;
        height: 4pt;
        width: 4pt;
        border: none;
        /* border: 2pt solid white; */
        /* border: none; */
        border-radius: 2pt;
    }
}

button.on-off-button {
    display: flex;
    padding: 8pt;
    border-radius: 8pt;
    border: none;
    cursor: pointer;

    background-color: #303031;
    color: #66686b;

    &.on {
        color: #372b0d;
        background-color: #deffa8;
    }

    transition:
        background-color 200ms,
        color 200ms;
}

.tab-bar {
    width: 100%;
    display: flex;
    gap: 4pt;
    padding: 4pt;
    background-color: #181b21;
    border-radius: 8pt;

    border: 2pt solid #15161b;

    button {
        cursor: pointer;
        flex: 1;
        border-radius: 4pt;
        background-color: transparent;
        color: white;
        padding: 2pt;

        border: 2pt solid transparent;

        &.selected {
            background-color: #ffffff23;
        }

        transition: background-color 200ms;
    }
}

.popover-root {
    anchor-scope: --popover;

    .popover-button {
        anchor-name: --popover;
    }

    .popover-content {
        position-anchor: --popover;
        position-area: right;
        background-color: #181b21;
        color: white;
        border: none;
        border-radius: 8pt;
        padding: 8pt;
        margin: 8pt;

        &::backdrop {
            background-color: rgba(17, 17, 17, 0.238);
        }
    }
}

.dialog-root {
    .dialog-content:open {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        background-color: #181b21;
        color: white;
        border: 2pt solid #101020;
        border-radius: 8pt;
        padding: 8pt;
        margin: 8pt;

        &::backdrop {
            background-color: rgba(17, 17, 17, 0.238);
        }
    }

}

.h-list {
    display: flex;
    flex-direction: row;
    gap: 4pt;
}


.color-label {
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;

    &.room, &.scene {
        padding: 2px;
        background-color: var(--color);

        svg {
            height: 1lh;
            color: contrast-color(var(--color));
        }


        span {
            padding: 0pt 4pt;
            border-radius: 4px;
            background-color: #181b21;
            color: white;
        }
    }

    &.label {
        background-color: oklch(from var(--color) calc(l * 0.3) calc(c * 0.5) h);
        color: var(--color);
        gap: 4pt;
        padding: 0;
        padding-right: 4px;


        svg {
            height: calc(1lh + 4px);
            width: calc(1lh + 4px);
            background-color: var(--color);
            color: oklch(from var(--color) calc(l * 0.5) c h);
            padding: 2px;
            border-radius: 4px;
        }


        span {
            border-radius: 4px;
            /*background-color: var(--color);*/
            color: var(--color);
        }
    }

}


.spacer {
    flex: 1;
}


.scene-layer-list {
    display: flex;
    flex-direction: column;


    .scene-layer-entry {
        display: flex;
        flex-direction: column;
        gap: 4pt;

        .scene-layer-rooms {
            display: flex;
            gap: 4pt;
            background-color: #1e222d;
            padding: 4pt;
            border-radius: 6pt;


            .scene-layer-room-entry {
                flex: 1;
                padding: 2pt;
                background-color: #1e121d;
                border-radius: 2pt;
                display: flex;
                flex-direction: column;
            }
        }

        .scene-layer-scenes {
            display: flex;
            gap: 4pt;


            .scene-layer-scene-entry {
                cursor: grab;
            }
        }
    }
}


.loading-spinner {
    width: 32pt;
    height: 32pt;
    border-radius: 50%;
    border: 4pt dotted wheat;
    /*border-style: solid dotted dotted dotted;*/
    animation: rotation 2s ease-in-out infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
